.project-card {
	padding: 15px 50px;
}

.project-image {
	border-radius: 6px;
	object-fit: cover;
	width: 100%;
	height: 200px;
}

.project-card-content {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #2c2c36;
	border-color: #2c2c36;
	padding: 10px 10px 0 10px;
}

.project-card-title {
	color: white;
}

@media (min-width: 768px ) {
	.project-card {
		padding: 15px;
	}
}