.label-location {
	display: inline-block;
	padding: 0 5px;
}

.tag {
	display: inline-block;
}

.tag-name {
	padding:  0 10px;
}

.tag-container {
	margin-top: 15px;
	font-size: 15px;
}

.description-container {
	margin-top: 10px;
}

.label-custom {
	padding: 10px;
	border-radius: 4px;
	background-color: #FF4E50;
}

.project-details-image {
	max-width: 100%;
	max-height: 50vh;
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px 30px;
	background-color: #2c2c36;
	border-color: #2c2c36;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
	outline: none;
	color: #fff;
}

.modal-header h3 {
	margin-top: 0;
	color: #fff;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

.details-close {
	color: #ffffff;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
